.navbar {
  width: 100%;
  height: 50px;
  background: #1eb1ce;
  box-shadow: 0px 4px 7px #777;
  position: fixed;
}

.navbar-header {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 60px;
}

.tag-logo {
  width: 50px;
  margin-right: 20px;
  margin-left: 20px;
}
