.container-book {
  width: 100%;
}

.informations-book {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.name-book,
.author-book {
  margin: 0;
}

.average-book {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.container-average {
  display: flex;
  flex-direction: row;
}

.goodreads,
.taglivros {
  text-align: left;
}

.taglivros {
  margin-left: 15px;
}

.goodreads {
  margin-left: 5px;
}

.secundary {
  font-size: 12px;
  color: #3c3c3c;
}

.author-book {
  color: #0b0d1e;
}

.img-goodreads {
  width: 40px;
}

.img-taglivros {
  width: 56px;
  margin-right: 15px;
}

@media screen and (min-width: 400px) {
  .content-book {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 70px;
  }

  .informations-book {
    margin-left: 30px;
  }

  .img-book {
    width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .content-book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
  }

  .informations-book {
    margin-left: 0px;
  }

  .container-informations {
    width: 90%;
  }

  .average-book {
    display: flex;
    flex-direction: row;
    text-align: left;
  }

  .img-book {
    width: 190px;
  }
}
