.book-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer {
  width: 100%;
  margin-top: 50px;
  margin-left: 20px;
}

.list-books {
  display: flex;
  flex-wrap: wrap;
}
