.book-content {
  border: 1px solid gainsboro;
  border-radius: 2%;
  margin: 70px 20px -50px;
  padding: 10px;
  display: flex;
  width: 350px;
}

.book-img {
  width: 100px;
  height: 150px;
}

.secundary-listBooks {
  margin: 0 0 0 10px;
  color: #3c3c3c;
  font-size: 12px;
}

.book-title {
  font-size: 15px;
  margin: 0 0 10px 10px;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}

a.nounderline:link {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 600px) {
  .book-content {
    width: 330px;
  }
}
